# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.sort_values('city')

,city,date,fare,ride_id,driver_count,type
919,Amandaburgh,2019-04-24 08:02:27,14.55,7836117055007,12,Urban
239,Amandaburgh,2019-02-10 20:42:46,36.17,6455620849753,12,Urban
235,Amandaburgh,2019-02-24 23:10:49,43.66,6573820412437,12,Urban
164,Amandaburgh,2019-03-05 02:15:38,26.28,906850928986,12,Urban
1155,Amandaburgh,2019-03-07 02:26:33,18.76,3419454549176,12,Urban
...,...,...,...,...,...,...
1475,Williamsview,2019-01-17 04:00:01,32.29,7451578628999,46,Urban
759,Williamsview,2019-02-08 06:11:38,25.30,2324596536285,46,Urban
935,Williamsview,2019-04-16 08:23:02,20.38,8227750445178,46,Urban
878,Williamsview,2019-04-15 16:09:08,44.74,2759396812039,46,Urban
713,Williamsview,2019-05-04 14:56:45,32.80,2677734881755,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [3]:
#  1. Get the total rides for each city type
total_rides_city_type = pyber_data_df.groupby(['type']).count()['ride_id']
total_rides_city_type

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [32]:
# 2. Get the total drivers for each city type
total_drivers_city_type = city_data_df.groupby(['type']).sum()['driver_count']
total_drivers_city_type

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [5]:
#  3. Get the total amount of fares for each city type
total_fares_city_type = pyber_data_df.groupby(['type']).sum()['fare']
total_fares_city_type

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [34]:
#  4. Get the average fare per ride for each city type. 
avg_fare_per_ride = total_fares_city_type / total_rides_city_type
avg_fare_per_ride

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
dtype: float64

In [37]:
# 5. Get the average fare per driver for each city type. 
avg_fare_per_driver = total_fares_city_type / total_drivers_city_type
avg_fare_per_driver

type
Rural       55.486282
Suburban    39.502714
Urban       16.571468
dtype: float64

In [45]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_df = pd.DataFrame()
pyber_summary_df["Total Rides"] = total_rides_city_type
pyber_summary_df["Total Drivers"] = total_drivers_city_type
pyber_summary_df["Total Fares"] = total_fares_city_type
pyber_summary_df["Average Fare per Ride"] = avg_fare_per_ride
pyber_summary_df["Average Fare per Driver"] = avg_fare_per_driver
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
type,,,,,
Rural,125,78,4327.93,34.623440,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Urban,1625,2405,39854.38,24.525772,16.571468

In [46]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [47]:
#  8. Format the columns.
pyber_summary_df["Total Rides"] = pyber_summary_df["Total Rides"].map("{:,}".format)
pyber_summary_df["Total Drivers"] = pyber_summary_df["Total Drivers"].map("{:,}".format)
pyber_summary_df["Total Fares"] = pyber_summary_df["Total Fares"].map("{:,.2f}".format)
pyber_summary_df["Average Fare per Ride"] = pyber_summary_df["Average Fare per Ride"].map("{:,.2f}".format)
pyber_summary_df["Average Fare per Driver"] = pyber_summary_df["Average Fare per Driver"].map("{:,.2f}".format)
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,78,"4,327.93",34.62,55.49
Suburban,625,490,"19,356.33",30.97,39.50
Urban,"1,625","2,405","39,854.38",24.53,16.57

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [ ]:
# 1. Read the merged DataFrame

In [ ]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [ ]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [ ]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [ ]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [ ]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [ ]:
# 7. Check that the datatype for the index is datetime using df.info()

In [ ]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')